* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    
body {
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
    background: linear-gradient(135deg, #8080f0, #164f81); /* Soft gradient from light gray to blue */
    color: #333;
    margin: 0;
}

header {
    background-color: #333;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.logo {
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-size: 24pt;
    cursor: pointer;
}

.white {
    color: white;
}

.red {
    color: red;
}

.navbar {
    flex-grow: 1;
    text-align: right;
}

.menu ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu ul li {
    padding: 0.5vh 1vh;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 14pt;
    font-family: "Orbitron", sans-serif;
    font-weight: bolder;
    position: relative;
}

.menu ul li a::after {
    content: "";
    background-color: red;
    height: 2px;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0;
    transition: width 0.3s ease-in-out;
}

.menu ul li a:hover::after {
    width: 100%;
}

.menu ul li a:hover {
    color: red;
}

main {
    margin-top: 100px; /* To prevent content from being hidden under fixed header */
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

section h1, section h2 {
    color: #333;
    margin-bottom: 10px;
}

section ul {
    list-style: none;
    padding-left: 20px;
}

section ul li {
    margin-bottom: 8px;
}

footer {
    background-color: #333;
    text-align: center;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 10pt;
    padding: 15px;
    margin-top: 40px;
}
